*,
*::before,
*::after{
  box-sizing: border-box;
}

    body{
        background-color: #eee;
        color: #444;
        font-family: 'League Spartan', sans-serif;
        padding-top: 150px;
    }

/* Header navegación responsive mobil */
@media screen and (max-width: 500px){

/* NAV */
    .nav-menu{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        color: rgba(238, 238, 238, 0.74);
        background-color: brown;
        width: 100vw;
        height: 60px;
        z-index: 10;
    }
    
    
    .nav-menu__list{
        padding: 0;
        position: fixed;
        right: 100%;
        top: 44px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: brown;
        width: 100%;
        overflow-y: auto;
        transition: right 0.3s;
        display: flex;
        list-style: none;
    }
    
    .nav-menu__visible{
       right: 0;
    }
    
    .nav-item{
        margin-bottom: 1em;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.2rem;
    }
    
    .nav-bar__logo{
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #ccc;
    }
    
    .toggler-menu{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 40px;
        cursor: pointer;
        border: 1px solid rgba(204, 204, 204, 0.609);
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    
    .toggler-menu__icon{
        width: 30px;
        height: 3px;
        background-color: #ddd;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    
    .toggler-menu__icon::before,
    .toggler-menu__icon::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #ddd;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    
    .toggler-menu__icon::before{
        transform: translateY(-10px);
    }
    
    .toggler-menu__icon::after{
        transform: translateY(10px);
    }
    
    .toggler-menu.open .toggler-menu__icon{
       transform: translateX(-50px);
       background: transparent;
       box-shadow: none;
    }
    
    .toggler-menu.open .toggler-menu__icon::before {
       transform: rotate(45deg) translate(35px, -35px);
    }
    
    .toggler-menu.open .toggler-menu__icon::after {
    transform: rotate(-45deg) translate(35px, 35px);
    }
}
    
/* Menú principal */
    .title{
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 2em;
    }

    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .section__decovintage,
    .section__iguanapage,
    .section__cupponpage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin-bottom: 10em;
    }

    .subtitle__decovintage,
    .subtitle__iguanapage,
    .subtitle__cupponpage{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .subtitle__decovintage{
        color: rgba(139, 69, 19);
    }

    .subtitle__cupponpage{
        color: #198754;
    }

    .text__decovintage,
    .text__iguanapage,
    .text__cupponpage{
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 2em;
        width: 90%;
    }

    a{
        text-decoration: none;
    }
     
     .button{
         cursor: pointer;
         background-color: transparent;
         font-size: 1.2rem;
         border-radius: .4em;
         padding: .4em 1em;
         border-style: none;

     }

     .button--decovintage{
        background-color: rgba(139, 69, 19);
        color: #fff;
     }

     .button--iguana{
        background-color: #000;
        color: #fff;
     }

     .button--cuppon{
         background-color: #198754;
         color: #fff;
     }
     
     .nav-item a{
        text-decoration: none;
        color: #ccc;
    }
     
     .section__img{
         width: 90%;
         margin-bottom: 2em;
     }
     
     img{
         width: 100%;
     }

/* FOOTER */
     .footer{
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: brown;
         color: #ccc;
         height: 60px;
     }

     .footer p{
         font-size: 1.2rem;
         text-transform: uppercase;
     }


/* Versión responsive tablet */
@media screen and (min-width: 700px){

/* Navegación */
    .nav-menu{
        position: fixed;
        width: 100%;
        top: 0;
        color: rgba(238, 238, 238, 0.74);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: brown;
        height: 70px;
    }
    
    .nav-menu__list{
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    .nav-item{
        margin-right: 2em;
        display: flex;
        flex-direction: row;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    
    .nav-item a{
        text-decoration: none;
        color: #ccc;
    }
    
    .nav-item a:hover,
    .nav-link{
        background: none;
        color: #fff;
    }
    
    .nav-bar__logo{
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #ccc;
    }
    
    .subtitle__decovintage,
    .subtitle__iguanapage,
    .subtitle__cupponpage{
        font-size: 3rem;
    }
    
     .text__decovintage,
     .text__iguanapage,
     .text__cupponpage{
        font-size: 1.5rem;
        width: 90%;
    }
     
     .button{
         background-color: transparent;
     }

     .button--decovintage{
        color: rgba(139, 69, 19);
        border: 1px solid rgba(139, 69, 19);
     }

     .button--iguana{
         color: #000;
         border: 1px solid #000;
     }

     .button--cuppon{
         color: #198754;
         border: 1px solid #198754;
     }

     .button--decovintage:hover{
        background-color: rgba(139, 69, 19);
        color: #fff;
    }

    .button--iguana:hover{
        background-color: #000;
        color: #fff;
    }

    .button--cuppon:hover{
        background-color: #198754;
        color: #fff;
    }
     
     .section__img{
         width: 50%;
         margin-bottom: 2em;
     }
     
     img{
         width: 100%;
     }

     .footer p{
         font-size: 1.5rem;
     }
}

/* Versión responsive laptop y desktop */
@media screen and (min-width: 1024px){
    body{
        padding-top: 100px;
    }

    .title{
        font-size: 4.5rem;
        margin-bottom: 1.5em;
    }

    .subtitle__decovintage,
    .subtitle__iguanapage,
    .subtitle__cupponpage{
        font-size: 4rem;
        margin: 0;
    }

    .text__decovintage,
    .text__iguanapage,
    .text__cupponpage{
       width: 85%;
   }

   .section__img{
       width: 60%;
   }

}







