
/* Versión responsive laptop y desktop */
@media screen and (min-width:1024px){

    body{
        padding: 0;
    }
    
/* Navegación */
    .nav-menu{
        position: fixed;
        left: 0;
        color: rgba(238, 238, 238, 0.74);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: royalblue;
        height: 100vh;
    }
    
    .nav-menu__list{
        list-style: none;
    }
    
    .nav-item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2.8rem;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-bottom: 1em;
    }
    
    .nav-item a{
        text-decoration: none;
        color: #ccc;
    }
    
    .nav-item a:hover,
    .nav-link:hover{
        background: none;
        color: #fff;
    }
    
    .nav-bar__logo{
        opacity: 0;
    }
    
    .nav-bar__img{
        margin-bottom: 2em;
    }
    
    .img__perfil{
        display: flex;
        width: 10rem;
        border-radius: 50%;
        border: .5rem solid rgb(255 255 225 / .2);
    }
    
/* Menú principal */
    .container{
        position: absolute;
        width: 80%;
        align-items: center;
        justify-content: center;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7em;
    }

    .container__about,
    .container__briefcase,
    .container__skills,
    .container__information,
    .container__labor{
        height: 100vh;
        margin: 0;
    }

    
    .title{
        position: relative;
        bottom: 2rem;
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
        width: 600px;
        margin-bottom: .2em;
        
    }
    
    .title__secondary{
        color: royalblue;
    }
    
    .subtitle{
        text-align: center;
        font-size: 2.5rem;
        color: royalblue;
        margin: 0;
        text-transform: uppercase;
    }
    
    .container__text{
        margin: 0;
        font-size: 1.5rem;
        width: 60%;
    }
    
    .title__social{
        bottom: .5rem;
        font-size: 2rem;
    }
    
    .social{
        display: flex;
    }
    
    .social__icon{
        width: 60px;
        height: 60px;
    }
    
    .social__icon:hover{
        background-color: royalblue;
    }
    
    .subtitle__information{
        font-size: 2.5rem;
    }
    
    .container__date{
        width: 650px;
    }
    
    .container__date li{
        font-size: 1.5rem;
    }
    
    .subtitle__labor{
        font-size: 2.5rem;
    }

    .text__labor{
        font-size: 1.5rem;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        padding: 0 1em 1.5em 1em;
    }
    
    .title__skills{
        font-size: 2.5rem;
    }
    
    .subtitle__skills{
        font-size: 1.5rem;
        width: 600px;
    }
    
    .skills__text{
        font-size: 1.5rem;
        width: 600px;
    }
    
    .date__skills{
        width: 600px;
        margin-bottom: 2em;
    }
    
    .date__skills li{
        font-size: 1.5rem;
    }
    


    .skills__item i{
        font-size: 3rem;
    }
    
    .subtitle__briefcase{
        font-size: 2.5rem;
    }
    
    .briefcase__text{
        font-size: 1.5rem;
        width: 600px;
        margin-bottom: 1.5em;
    }
    
    .button:hover{
        background-color: royalblue;
        color: #fff;
    }

/* FOOTER */
    .footer{
        display: none;
    }
}

/* Versión responsive tablet */
@media screen and (min-width: 700px){
    
/* Menú principal*/
    .container__about,
    .container__briefcase,
    .container__skills,
    .container__information,
    .container__labor{
        margin-bottom: 2em;

    }
    
    .title{
        position: relative;
        bottom: 2rem;
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
        width: 600px;
        margin-bottom: .2em;
        
    }

    .title__secondary{
        color: royalblue;
    }
    
    .subtitle{
        text-align: center;
        font-size: 2.5rem;
        color: royalblue;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    
    .container__text{
        font-size: 1.5rem;
        margin-bottom: 1em;
        width: 700px;
    }
    
    .title__social{
        margin: 2em 0;
        font-size: 2rem;
    }
    
    .social{
        bottom: 1rem;
        left: 4rem;
    }
    
    .social__icon{
        width: 60px;
        height: 60px;
    }
    
    .social__icon:hover{
        background-color: royalblue;
    }
    
    .subtitle__information{
        font-size: 2.5rem;
    }
    
    .container__date{
        width: 650px;
    }
    
    .container__date li{
        font-size: 1.5rem;
    }
    
    .subtitle__labor{
        font-size: 2.5rem;
    }

    .text__labor{
        font-size: 1.5rem;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        padding: 0 1em 1.5em 1em;
    }
    
    .title__skills{
        font-size: 2.5rem;
    }
    
    .subtitle__skills{
        font-size: 1.5rem;
        width: 600px;
        
    }
    
    .skills__text{
        font-size: 1.5rem;
        width: 600px;
    }
    
    .date__skills{
        width: 600px;
        margin-bottom: 2em;
    }
    
    .date__skills li{
        font-size: 1.5rem;
    }

    .skills{
        gap: 10px 30px;
    }
    
    .skills__item i{
        font-size: 3rem;
    }

    .container__briefcase{
        margin: 0;
    }
    
    .subtitle__briefcase{
        font-size: 2.5rem;
    }
    
    .briefcase__text{
        font-size: 1.5rem;
        width: 600px;
        margin-bottom: 1.5em;
    }
    
    .button:hover{
        background-color: royalblue;
        color: #fff;
    }

/* FOOTER */
    .footer p{
        font-size: 1.8rem;
    }
    
}


